<h2>Leitura de Arquivos</h2>

In [13]:
f = open('aula2.txt', 'r')
conteudo = f.readlines()
for i in conteudo:
  print(i)

Nova linha escrita

Nova linha escrita

Nova linha escrita

<h2>Escrever conteúdo no arquivo</h2>

In [0]:
with open('aula2.txt', 'w') as f:
  f.write(f'Nova linha escrita\n')

<h2>Adicionar conteúdo no arquivo</h2>

In [0]:
with open('aula2.txt', 'a') as f:
  f.write(f'Nova linha escrita\n')

<h2>Leitura de CSV</h2>

In [23]:
import csv

with open('data.csv') as csv_file:
  content_csv = csv.reader(csv_file,delimiter=',')

  # Print next row of csv
  print(next(content_csv))
  
  # Print others rows starting from current pointer (in this case, position 2 because next move foward the pointer reference)
  for row in content_csv:
    print(row)

['birthday']
['5/1/1981']
['9/20/1957']
['6/16/1995']
['2/11/1989']
['1/6/1986']
['5/23/1977']
['8/31/1997']
['6/14/1975']
['5/17/1963']
['12/9/1974']
['8/6/1996']
['8/8/2000']
['12/5/1993']
['6/27/1999']
['11/29/1956']
['3/9/1971']
['8/28/1982']
['10/2/1961']
['10/2/1995']
['8/23/1983']
['11/13/1973']
['4/3/1961']
['4/12/1964']
['11/2/1977']
['6/13/1998']
['11/9/1974']
['8/20/1974']
['7/3/1978']
['3/1/1979']
['5/31/1980']
['6/23/2000']
['9/22/1995']
['11/30/1964']
['12/16/1974']
['12/1/1997']
['2/19/1994']
['6/23/1964']
['11/29/1988']
['9/21/1992']
['9/30/1979']
['5/30/1988']
['8/3/1963']
['1/4/1961']
['2/10/1984']
['11/21/1992']
['6/15/1985']
['2/12/1961']
['8/27/1999']
['8/15/1959']
['9/10/1972']

<h2>Escreve em JSON</h2>

In [29]:
import csv

with open('writedata.csv', 'w') as csv_file:
  content_csv = csv.writer(csv_file,delimiter=',',quotechar='"')
  content_csv.writerow(['Nome','Idade','Sexo'])
  content_csv.writerow(['Edvard','31','Masculino'])
  content_csv.writerow(['Giovanni','60','Não Sabe'])

  print(content_csv)

<_csv.writer object at 0x7f1918dd2780>